# ------------------------
# Python cache / temp
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ------------------------
# virtual env
# ------------------------
.env/
.venv/
env/
venv/

# ------------------------
# Large raw data (ignore contents but keep folder)
# ------------------------
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# ------------------------
# Large checkpoints (ignore contents but keep folder)
# ------------------------
outputs/checkpoints/*
!outputs/checkpoints/.gitkeep

# ------------------------
# Logs (ignore content but keep folder)
# ------------------------
logs/*
!logs/.gitkeep

# ------------------------
# Jupyter
# ------------------------
.ipynb_checkpoints/

# ------------------------
# VSCode
# ------------------------
.vscode/

# ------------------------
# OS
# ------------------------
.DS_Store
Thumbs.db
